# Create data to be added in the project tables.

In [1]:
# Parameter to generate the number of rows to be entered into the table
rows = 100

Using datasets downloaded from Kaggle and randomize to generate the rows required to enter.

Generate fake names

In [2]:

from faker import Faker

fake = Faker("en_IN")
for _ in range(10):
    print(fake.name())

Vritika Babu
Onkar Kar
Ivana Dave
Nakul Dewan
Misha Bali
Pari Dhaliwal
Hazel Deshmukh
Aayush Bora
Drishya Sura
Bhamini Rege

### Using historic news datasset to generate some data.

In [3]:
import pandas as pd 

realNews = pd.read_csv("historicArticles.csv")
realNews.head()

,source,category,link,author,published_at,header,subheader,content
0,firstpost,india,https://www.firstpost.com/india/supreme-court-...,FP Staff,"September 21, 2020 20:11:56 IST","Supreme Court, in anti-CAA blockade case, says...",While listening to a batch of petitions agains...,The Supreme Court on Monday said there cannot ...
1,firstpost,india,https://www.firstpost.com/india/rti-reponse-re...,Sumit Chaturvedi,"September 20, 2020 10:02:10 IST",RTI reponse reveals over 18 lakh ration cards ...,The large backlog of pending ration card appli...,Lakhs of migrant workers who returned to their...
2,firstpost,india,https://www.firstpost.com/india/pilot-dies-as-...,Press Trust of India,"September 21, 2020 15:32:17 IST",Pilot dies as four-seater training aircraft cr...,"The aircraft, which belonged to the Indira Gan...",Azamgarh: A four-seater training aircraft cras...
3,firstpost,india,https://www.firstpost.com/india/hcl-technologi...,Press Trust of India,"September 21, 2020 14:15:16 IST",HCL Technologies to acquire Australia’s DWS Lt...,"DWS, with FY20 revenue at AUS $167.9 million, ...",New Delhi: HCL Technologies on Monday said it ...
4,firstpost,india,https://www.firstpost.com/india/parliament-mon...,FP Staff,"September 22, 2020 10:42:06 IST",Parliament LIVE Updates: Pralhad Joshi says go...,Parliament LIVE Updates: Parliamentary Affair ...,Parliament LATEST Updates: Parliamentary Affai...

In [4]:
print(realNews.source.unique())
print(len(realNews.author.unique()))

['firstpost' 'ndtv']
130

## Reference Schema

![alt text](drawSQL-image-export-2024-04-05-1.png)

### Creating and inserting data into the Authors table

In [24]:

from faker import Faker
Faker.seed(37)
fake = Faker("en_IN")
authors = []
for _ in range(37):
    authorName = fake.name()
    authorDescription = fake.text(500)
    authors.append((authorName,authorDescription))

import psycopg2
from config import load_config
config = load_config()
conn = psycopg2.connect(**config) 
cur = conn.cursor()

sql = """ INSERT INTO authors(author_name,author_desc)
            VALUES (%s,%s) RETURNING author_id"""

for authorName, authorDescription in authors:
    cur.execute(sql, (authorName,authorDescription))
    
conn.commit()
conn.close()

#### Done successfully

### Creating and inserting data into the Locations table

In [20]:
from faker import Faker
import psycopg2
from config import load_config

config = load_config()

# Connect to PostgreSQL database
conn = psycopg2.connect(**config)
cur = conn.cursor()

# Create Faker object with Indian locale
Faker.seed(37)
fake = Faker("en_IN")

# Generate location categories for Indian metro cities
metro_cities = ["Mumbai", "Delhi", "Bangalore", "Kolkata", "Chennai", "Hyderabad"]

# Additional location categories for India and world
additional_categories = ["India", "World"]

# Combine all categories
location_categories = metro_cities + additional_categories

# Generate sample location data
sample_location_data = [
    "Capital city of Maharashtra", "Capital city of India", "Silicon Valley of India", 
    "City of Joy", "Gateway to South India", "City of Pearls", 
    "Country in South Asia", "Planet Earth"
]

# SQL query to insert data into locations table
sql = """INSERT INTO locations(location, location_data)
         VALUES (%s, %s) RETURNING location_id"""

# Insert data into locations table
for category, data in zip(location_categories, sample_location_data):
    cur.execute(sql, (category, data))

# Commit changes and close connection
conn.commit()
conn.close()

### Creating the sources table

In [21]:
from faker import Faker
import psycopg2
from config import load_config

# Load configuration for database connection
config = load_config()

# Connect to PostgreSQL database
conn = psycopg2.connect(**config)
cur = conn.cursor()

# Create Faker object with Indian locale
Faker.seed(37)
fake = Faker("en_IN")

# Sample Indian news sources
indian_sources = [
    ("Times of India", "India's largest newspaper by circulation", 4, 9),
    ("Hindustan Times", "One of the largest newspapers in India", 4, 9),
    ("The Indian Express", "English-language Indian daily newspaper", 4, 9),
    ("The Hindu", "English-language Indian daily newspaper", 5, 9),
    ("NDTV", "New Delhi Television Limited", 4, 9),
    ("India Today", "Indian weekly news magazine", 4, 9),
    ("CNN-News18", "Indian English-language news television channel", 3, 9),
    ("The Wire", "Indian news and opinion website", 5, 9),
    ("Firstpost", "Indian news and media website", 4, 9)
]

# SQL query to insert data into sources table
sql = """INSERT INTO sources(source_name, source_desc, source_bias, source_rating)
         VALUES (%s, %s, %s, %s) RETURNING source_id"""

# Insert data into sources table
for source in indian_sources:
    cur.execute(sql, source)

# Commit changes and close connection
conn.commit()
conn.close()

###  creating type table.

In [22]:
from faker import Faker
import psycopg2
from config import load_config

# Load configuration for database connection
config = load_config()

# Connect to PostgreSQL database
conn = psycopg2.connect(**config)
cur = conn.cursor()

# Create Faker object
fake = Faker()

# Sample article types
article_types = [
    ("Editorial", "An article expressing the opinion of the editor or editorial board of a publication."),
    ("Opinion", "A piece expressing the personal views or opinions of the author."),
    ("News", "A factual report on recent events or developments."),
    ("Feature", "An in-depth article focusing on a specific topic or subject."),
    ("Analysis", "An article providing a detailed examination or evaluation of a topic."),
    ("Interview", "A conversation between a journalist and a subject, typically for publication."),
    ("Review", "A critical assessment or evaluation of something, such as a book, movie, or product.")
]

# SQL query to insert data into type table
sql = """INSERT INTO type(type, type_desc)
         VALUES (%s, %s) RETURNING type_id"""

# Insert data into type table
for article_type in article_types:
    cur.execute(sql, article_type)

# Commit changes and close connection
conn.commit()
conn.close()

### Creating languages table.

In [23]:
from faker import Faker
import psycopg2
from config import load_config

# Load configuration for database connection
config = load_config()

# Connect to PostgreSQL database
conn = psycopg2.connect(**config)
cur = conn.cursor()

# Sample Indian languages along with English
languages = [
    ("English", "A global language widely used used a default language for global communication"),
    ("Hindi", "An Indo-Aryan language spoken chiefly in North India."),
    ("Bengali", "An Indo-Aryan language spoken in the eastern regions of the Indian subcontinent."),
    ("Telugu", "A Dravidian language spoken mainly in the Indian states of Andhra Pradesh and Telangana."),
    ("Marathi", "An Indo-Aryan language spoken predominantly by the Marathi people of Maharashtra, India."),
    ("Tamil", "A Dravidian language predominantly spoken by the Tamil people of India and Sri Lanka."),
    ("Urdu", "A Persianized and standardized register of the Hindustani language."),
    ("Gujarati", "An Indo-Aryan language native to the Indian state of Gujarat."),
    ("Kannada", "A Dravidian language spoken predominantly by the people of Karnataka in southwestern India."),
    ("Odia", "An Indo-Aryan language spoken predominantly by the people of Odisha in eastern India.")
]

# SQL query to insert data into language table
sql = """INSERT INTO language(language, lang_desc)
         VALUES (%s, %s) RETURNING lang_id"""

# Insert data into language table
for language in languages:
    cur.execute(sql, language)

# Commit changes and close connection
conn.commit()
conn.close()

### Data for Category Table.

In [25]:
from faker import Faker
import psycopg2
from config import load_config

# Load configuration for database connection
config = load_config()

# Connect to PostgreSQL database
conn = psycopg2.connect(**config)
cur = conn.cursor()

# Sample category names and descriptions
categories = [
    ("Sports", "News related to sports events, athletes, and competitions."),
    ("Politics", "News related to government, political parties, and elections."),
    ("Science", "News related to scientific discoveries, research, and advancements."),
    ("Entertainment", "News related to movies, music, TV shows, and celebrities."),
    ("Business", "News related to economics, finance, and commerce."),
    ("Technology", "News related to innovations, gadgets, and technological developments."),
    ("Health", "News related to healthcare, medical treatments, and wellness."),
    ("Education", "News related to schools, colleges, and educational institutions."),
    ("Environment", "News related to ecology, climate change, and conservation."),
    ("Travel", "News related to tourism, destinations, and travel experiences.")
]

# SQL query to insert data into category table
sql = """INSERT INTO category(category_name, category_desc)
         VALUES (%s, %s) RETURNING category_id"""

# Insert data into category table
for category in categories:
    cur.execute(sql, category)

# Commit changes and close connection
conn.commit()
conn.close()

### Userprofile table.